<!DOCTYPE html>
<html>
<head>
  <h1>GitFit Landing Page</h1>
  <% include ../partials/head.ejs %>
</head>

<body>


<main>
  <% include ../partials/styles/index.ejs %>
  <% include ../partials/navuser.ejs %>
  <% if (session.login) { %>
    <p id = "count" style="display: none"><%= session.user.goalcount %></p>
    <div align="left">

     <h3>
      Welcome, <%= session.user.fname %>
     </h3>

    <div id="myDIV" class="header">
      <iframe name="votar" style="display: none"></iframe>
      <form id='newGoal' action='/api/addGoal' method="POST" target="votar">
      <h2>Today's Fitness Goals</h2>
      <input type="text" id="myInput" name="goal" placeholder="Goal...">
      <input type="hidden" id = "username" name="username" value="<%= session.user.username%>">
      </form>
      <span onclick="newElement()" class="addBtn">Add</span>
    </div>

    <ul id="myUL">
      <% if(session.user.goals != null) { %>
      <% for(var i = 0; i < session.user.goals.length; i++) { %>
        <li id=<%= session.user.goals[i].goalnum %>><%=(session.user.goals[i].goal) %></li>
      <% }} %>
    </ul>
    <script>
    var count = parseInt(document.getElementById("count").innerText);


      // Create a "close" button and append it to each list item
    var myNodelist = document.getElementsByTagName("LI");
    var i;
    for (i = 0; i < myNodelist.length; i++) {
      var span = document.createElement("SPAN");
      var txt = document.createTextNode("\u00D7");
      span.className = "close";
      span.appendChild(txt);
      myNodelist[i].appendChild(span);
    }


    // Add a "checked" symbol when clicking on a list item
    var list = document.querySelector('ul');
    list.addEventListener('click', function(ev) {
      if (ev.target.tagName === 'LI') {

        // Create html form to send
        var formDel = document.createElement("form");
        formDel.method="POST";
        formDel.action="/api/deleteGoal";
        formDel.name="formDel";
        formDel.target="votar";

        // Create form input to store goal value to be deleted
        var goalDel = document.createElement("input");
        goalDel.type="hidden";
        goalDel.name="goal";
        goalDel.value=ev.target.value;

        var goalNum = document.createElement("input");
        goalNum.type="hidden";
        goalNum.name="goalcount";
        goalNum.value=ev.target.id;

        var username = document.getElementById("username");


        ev.target.classList.toggle('checked');

        formDel.appendChild(goalDel);
        formDel.appendChild(goalNum);
        formDel.appendChild(username);
        document.body.appendChild(formDel);
        formDel.submit();


        setTimeout(()=>{
          ev.target.style.display="none";
          document.getElementById("")
        }, 1000)

      }
    }, false);

    // Create a new list item when clicking on the "Add" button
    function newElement() {

      var li = document.createElement("li");
      var inputValue = document.getElementById("myInput").value;

      var t = document.createTextNode(inputValue);
      li.appendChild(t);
      if (inputValue === '') {
        alert("You must write something!");
      } else {
        ++count;
        li.id = count;
        document.getElementById("myUL").appendChild(li);
        goalcount = document.createElement("input");
        goalcount.type="hidden";
        goalcount.value = count;
        goalcount.name="goalcount1";

        var frm = document.getElementById("newGoal");
        frm.appendChild(goalcount);
        frm.submit();


      }
      document.getElementById("myInput").value = "";

      var span = document.createElement("SPAN");
      var txt = document.createTextNode("\u00D7");
      span.className = "close";
      span.appendChild(txt);
      li.appendChild(span);

      for (i = 0; i < close.length; i++) {
        close[i].onclick = function() {
          var div = this.parentElement;
          div.style.display = "none";
        }
      }
    }


    // TO DO: query and display new net calories for today after user enters data in calories.ejs
    // Also should be 
    var calstoday = 0;


    </script>

    <div id="cal">
      <h3>Calories per day to sustain your goal:</h3>
      <h4><%= session.user.calorie %></h4>
    </div>
    <% } else { %>

<a href="register">Click here to register</a><br>
<a href="login">Click here to login</a>
<% } %>
</main>

</body>
</html>
