<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <% include ../partials/head.ejs %>
</head>

<body>
    <% include ../partials/navprofile.ejs %>
    <style>
        .profilestyle {
            width: 250px;
            height: 250px;
            border-radius: 50%;
            border: 1px solid #ccc;
            object-fit: contain;
        }
        .usercard {
            width: 190px;
            height: 300px;
            background-color: white;
            border-radius: 5px;
            box-shadow: 3px 3px 10px #A9A9A9;
            padding: 20px;
            margin: 20px;
            overflow: visible;
        }

        .usercard-image {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-left: 15%;
            object-fit: contain;
        }

        .usercard-name {
            margin-left: 10%;
            margin-right: 10%
        }

        .usercard-username {
            margin-left: 10%;
            margin-right: 10%;
            color: blue
        }

        .usercard-button {
            width: 100px;
            padding: 6px;
            margin: 5px;
            margin-left: 15%;
            border-radius: 5px;
            color: white;
            border: none;
        }

        .accept {
            background-color: green;
        }

        .reject {
            background-color: red;
        }
    </style>
        <section id="portfolio" class="bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center" style="height: 200px;">
                            <h2 class="text-uppercase section-heading">Profile</h2>
                            <h3 class="section-subheading text-muted" style="height: 200px;"><br>Welcome to your profile, <%= session.user.fname %> <span style="color: blue">(@<%= session.user.username %>).<br> <br> Feel free to upload a new profile picture, check your friend requests (below), or search for users (above)<br><br></h3>
                        </div>
                        <div class="col">
                            
                            <div style="margin-left: 40%">
                                <img class="profilestyle" src="/upload/<%= session.user.userImage %>" alt="<%= session.user.userImage %>">
                                <form action="/change-picture" enctype="multipart/form-data" method="post" style="margin-top: 10px">
                                    <input type="hidden" id = "changepic" name="uname" value="<%= session.user.username %>">
                                    <label class="custombutton" id="custombutton"
                                        style="width:200px;border: 1px solid rgb(136, 130, 130);display: inline-block; padding: 6px 12px;cursor: pointer;">
                                        <input type="file" name="upload" accept="image/*" style=" display: none;"
                                            onchange="document.getElementById('custombutton').style.border = '2px solid lightgreen'">
                                        Select new file
                                    </label>
                                    <input type="submit" value="Upload"
                                        style="border: 1px solid #413f3f ; padding: 6px 12px; cursor: pointer; background-color: #413f3f; color: #ccc">
                                </form>
                                <br>
                            </div>
                            <% if(typeof msge !== 'undefined') { %>
                                <p style="color: red;text-align: center"><%= msge %></p>
                            <% } %>
                            <% if(typeof msgs !== 'undefined') { %>
                                <p style="color: greenyellow;text-align: center"><%= msgs %></p>
                            <% } %>
                        </div>
                        <div class="col-lg-12 text-center" style="height: 100px;padding: 15px 15px;">
                            <h2 class="text-uppercase section-heading" style="background-color: whitesmoke; padding: 10px; border-radius: 5px; border: 1px solid lightgray">Friend Requests</h3>
                        </div>
                        <div class="col">
                            <% if (session.user.incReq != null) { %>
                            <% for(var i = 0; i < session.user.incReq.length; i++) { %>
                                <div class="usercard col-lg-3">
                                <p class="usercard-username">@<%= session.user.incReq[i].sent %></p>
                                <form method="POST" action="/addFriend">
                                  <div style="width: 50%; display: inline;">
                                    <input type="hidden" name="senderadd" id="sender" value="<%= session.user.incReq[i].sent %>">
                                    <button type="submit" class="accept"
                                      style="width: 8em">Accept</button>
                                  </div>
                                  </form>
                                  <form method="POST" action="/removeFriend">
                                  <div style="width: 50%;  display: inline;">
                                    <input type="hidden" name="senderdecline" id="user_Id" value="<%= session.user.incReq[i].sent %>">
                                    <button type="submit" id="cancel_friend" class="reject"
                                      style="width: 8em">Cancel</button>
                                  </div>
                                  </form>
                                  </div>
                              
                            <% } } %>
                        </div>
                        <div class="col-lg-12 text-center" style="height: 100px;padding: 15px 15px;">
                            <h2 class="text-uppercase section-heading" style="background-color: whitesmoke; padding: 10px; border-radius: 5px; border: 1px solid lightgray">My Friends</h2>
                        </div>
                        <div class="col"><% if (session.user.friendsList != null) { %>
                            <% for(var i = 0; i < session.user.friendsList.length; i++) { %>
                                <div class="usercard col-lg-3">
                                <p class="usercard-username">username: @<%= session.user.friendsList[i].f1 %></p>
                                  
                                </div>
                              
                            <% } } %>
                        </div>
                    </div>
                </div>
            </section>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <!-- Latest compiled and minified Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- Initialize Bootstrap functionality -->
    <script>
        // Initialize tooltip component
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        // Initialize popover component
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>

</body>
